

    <section>

		<figure class="picture" data-zoom="zoom" style="margin-bottom:0.5em;">
			<span data-src="<%= config.images_url %>/sized/240/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/320/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/480/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/640/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/960/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/1280/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/1920/sunset.jpg"></span>
			<noscript>
				<img src="<%= config.images_url %>/sized/sunset.jpg" alt="A beautiful sunset!">
			</noscript>
		</figure>

		<h2>
			<a class="btn btn-msos" href="https://github.com/OpenSiteMobile" title="OpenSiteMobile GitHub repository"><i class="fa fa-github"></i></a>
			Our Goal at OpenSiteMobile
		</h2>

		<div class="pgrph well">
			<p>
				We are developers for the mobile web, using only open source software
				technologies. Our goal is to aid in the creation of "responsive display
				websites". We do this through the integration of the best available web
				technologies and internet standard practices.
			</p>
		</div>

		<h2>Our Software</h2>

		<div class="pgrph well">
			<p>
				We call our software <u>MobileSiteOS™</u>. Mobile is now dominant, but the desktop
				and other display sizes will never go away. Thus <u>MobileSiteOS™</u> software is
				an "operational layer" between many standard JavaScript functional libraries and the
				final web page. Our "layer" tries to provide for responsive web pages through the
				thoughtful integration of many current and developing <u>HTML5</u>, JavaScript
				and <u>CSS</u> technologies.
			</p>

			<p>
				Originally, this concept was called the <u>"One Web"</u>. Now it is more
				typically call "responsive design" or "adaptive design". As it turns out, this
				is not a simple task as the multitude of semi-responsive websites currently littering
				the web can attest to. By utilizing specifically sized display adjusted
				pages, <u>MobileSiteOS™</u> can allow almost any device access
				to your website with pleasing and controlled results.
			</p>
		</div>

		<div class="msos_legend">
			<div class="row adjust">
				<div class="span6" style="padding:0.5em;">
					<h2>Demo's and Downloads</h2>

					<div class="pgrph well">
							Here are our software demos. The first is a 30+ "content-page" single page web app include in the
							base software bundle, using the the same <u>MobileSiteOS</u> technology as this website.
							Content injection is used to create a "multi-page" user environment. This demo highlights many of the
							individual components which make up our software. At it's core, <u>MobileSiteOS</u> is a modular
							open source system of HTML, JavaScript and CSS coding goodness. The rest are adaptations of common JavaScript
							frameworks or software, demostrating the usability of <u>MobileSiteOS™</u> as the organizing and
							responsive design layer.
					</div>

					<ul class="features">
						<li><a class="btn btn-msos" href="<%= config.site_url %>/mobilesiteos" title="MobileSiteOS™ JavaScript demo pages"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> JavaScript</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/mobilesiteos_es6" title="MobileSiteOS™ ES6 JavaScript demo pages"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> ES6 JS</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/marionette" title="MobileSiteOS™ Marionette Todo demo"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> Marionette Todo</a></li>
						<li><a class="btn btn-msos" href="https://opensitemobile2.github.io/hellojs" title="MobileSiteOS™ HelloJS demo"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> HelloJS Integration</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/angularjs" title="MobileSiteOS™ AngularJS demo"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> AngularJS Integration</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/angularjs_mobile" title="MobileSiteOS™ Mobile-Angular-UI demo"><i class="fa fa-external-link"></i> <u>MobileSiteOS</u> Mobile-UI Integration</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/mediaelement" title="MobileSiteOS integrated MediaElement Player"><i class="fa fa-external-link"></i> <u>MediaElement - MSOS</u> Integration</a></li>
						<li><a class="btn btn-msos" href="<%= config.site_url %>/kairos" title="Simple Kairos demo page w/MobileSiteOS"><i class="fa fa-external-link"></i> <u>Kairos</u> Face Recognition Demo</a></li>
					</ul>
				</div>
				<div class="span6" style="padding:0.5em;">
					<h2>Software Dependencies</h2>

					<div class="pgrph well">
						We have made extensive use of the following JavaScript libraries, which
						form the base foundation for our software. <u>jQuery, jQuery-UI</u> and <u>BackboneJS</u> are
						called as separate files. <u>UnderscoreJS</u> is include in our 'base' file, as
						well as the <u>Modernizr</u> tests utilized by <u>MobileSiteOS</u>.
						These frameworks are all loaded at initial page load, and thus are available throughout
						later content injection. It is important to note that <u>MobileSiteOS</u> features
						dynamic module loading at any point in the content rendering process, so any
						modular code requiring these dependencies will still function as expected.
					</div>

					<ul class="features">
						<li><a class="btn btn-info" href="http://jquery.com/" title="The write less, do more, JavaScript library"><i class="fa fa-external-link"></i> <u>jQuery</u></a></li>
						<li><a class="btn btn-info" href="http://jqueryui.com/" title="jQuery user interface"><i class="fa fa-external-link"></i> <u>jQuery-UI</u></a></li>
						<li><a class="btn btn-info" href="http://modernizr.com/" title="The feature detection library for HTML5/CSS3"><i class="fa fa-external-link"></i> <u>Modernizr (Incl'd)</u></a></li>
						<li><a class="btn btn-info" href="http://underscorejs.org/" title="The utility-belt library for JavaScript"><i class="fa fa-external-link"></i> <u>UnderscoreJS  (Incl'd)</u></a></li>
						<li><a class="btn btn-info" href="http://backbonejs.org/" title="Give structure to web applications"><i class="fa fa-external-link"></i> <u>BackboneJS</u></a></li>
						<li><a class="btn btn-info" href="http://getbootstrap.com/" title="Designed for everyone, everywhere"><i class="fa fa-external-link"></i> <u>Bootstrap (opt'l)</u></a></li>
						<li><a class="btn btn-info" href="https://angularjs.org/" title="Superheroic JavaScript MVW Framework"><i class="fa fa-external-link"></i> <u>AngularJS (opt'l)</u></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="msos_legend">
			<h2>Site Resources</h2>

			<div class="pgrph">
				Interested in more details? Follow the "Development" link to get more information about
				the theory behind our software development. The "Design" link leads to reference pages highlighting
				many the best mobile web development technologies and general mobile design resources available
				today.
			</div>

			<div class="row adjust">
				<div class="span4">
					<ul class="features">
						<li><a class="btn btn-msos" href="#/page/pages.devel" title="OpenSiteMobile development"><i class="fa fa-briefcase"></i> <u>OSM</u> Development</a></li>
					</ul>
				</div>
				<div class="span4">
					<ul class="features">
						<li><a class="btn btn-msos" href="#/page/pages.design" title="Mobile design reference resources"><i class="fa fa-globe"></i> Mobile Design</a></li>
					</ul>
				</div>
			</div>
		</div>
    </section>
