

    <section>

		<h1>Welcome to OpenSiteMobile</h1>

		<figure class="picture" data-zoom='zoom' style='margin-bottom:0.5em;'>
			<span data-src="<%= config.images_url %>/sized/240/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/320/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/480/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/640/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/960/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/1280/sunset.jpg"></span>
			<span data-src="<%= config.images_url %>/sized/1920/sunset.jpg"></span>
			<noscript>
				<img src="<%= config.images_url %>/sized/sunset.jpg" alt="A beautiful sunset!">
			</noscript>
		</figure>

		<h2>Our Goal</h2>

		<div class='pgrph well'>
			<p>
				We are developers for the mobile web, using only open source software
				technologies. Our goal is to aid in the creation of "responsive display
				websites". We do this through the integration of the best available web
				technologies and standard practices.
			</p>
		</div>

		<h2>Our Software</h2>

		<div class='pgrph well'>
			<p>
				We call our software&nbsp;<u>MobileSiteOS™</u>. The future is mobile, but the desktop
				will never go away. So we consider&nbsp;<u>MobileSiteOS™</u>&nbsp;software as an "operational
				layer" between some of the best JavaScript libraries and the final web page.
				Our "layer" tries to provide for responsive web page design through the
				thoughtful integration of many developing&nbsp;<u>HTML5</u>, JavaScript
				and&nbsp;<u>CSS</u>&nbsp;technologies.
			</p>

			<p>
				Originally, this concept was called the&nbsp;<u>"One Web"</u>. By utilizing display size
				adjusted pages, a vast array of devices can access the same website with
				pleasing results. As it turns out, this is not a simple task. It requires
				the evaluation of many conflicting design aspects and a multitude of compromises.
			</p>
		</div>

		<div class="msos_legend">
			<div class="row adjust">
				<div class="span6" style='padding:0.5em;'>
					<h2>Software Dependencies</h2>
	
					<div class='pgrph well'>
						With our goal in mind, we have made extensive use of the following JavaScript
						libraries. We consider them to be among the finest examples of current
						web programming applications available, and they form the base foundation
						for our software.
					</div>
	
					<ul class="features">
						<li><a class="btn btn-info" href='http://jquery.com/' title='The write less, do more, JavaScript library'><i class="fa fa-external-link"></i> <u>jQuery</u></a></li>
						<li><a class="btn btn-info" href='http://jqueryui.com/' title='jQuery user interface'><i class="fa fa-external-link"></i> <u>jQuery-UI</u></a></li>
						<li><a class="btn btn-info" href='http://modernizr.com/' title='The feature detection library for HTML5/CSS3'><i class="fa fa-external-link"></i> <u>Modernizr</u></a></li>
						<li><a class="btn btn-info" href='http://underscorejs.org/' title='The utility-belt library for JavaScript'><i class="fa fa-external-link"></i> <u>UnderscoreJS</u></a></li>
						<li><a class="btn btn-info" href='http://backbonejs.org/' title='Give structure to web applications'><i class="fa fa-external-link"></i> <u>BackboneJS</u></a></li>
						<li><a class="btn btn-info" href='https://angularjs.org/' title='Superheroic JavaScript MVW Framework'><i class="fa fa-external-link"></i> <u>AngularJS (opt'l)</u></a></li>
					</ul>
				</div>
	
				<div class="span6" style='padding:0.5em;'>
					<h2>Demo's and Downloads</h2>
	
					<div class='pgrph well'>
							Here you will find our software demo. This application of&nbsp;<u>MobileSiteOS™</u>&nbsp;
							provides a basic example of how to use our "msos.page" module to create a single page web app.
							Content injection is used to create a "multi-page" environment. And this 30+ "content-page" demo
							also highlights many of the individual components which make up&nbsp;<u>MobileSiteOS™</u>. At it's
							core,&nbsp;<u>MobileSiteOS™</u>&nbsp;is a modular system of HTML, JavaScript and CSS coding goodness.
					</div>

					<ul class="features">
						<li><a class="btn btn-msos" href='https://opensitemobile.github.io/mobilesiteos' title='MobileSiteOS™ JavaScript demo pages'><i class="fa fa-external-link"></i> <u>MobileSiteOS</u>&nbsp;JavaScript</a></li>
						<li><a class="btn btn-msos" href='https://opensitemobile.github.io/marionette' title='MobileSiteOS™ Marionette Todo demo'><i class="fa fa-external-link"></i> <u>MobileSiteOS</u>&nbsp;Marionette Todo</a></li>
						<li><a class="btn btn-msos" href='https://opensitemobile2.github.io/hellojs' title='MobileSiteOS™ HelloJS demo'><i class="fa fa-external-link"></i> <u>MobileSiteOS</u>&nbsp;HelloJS Integration</a></li>
						<li><a class="btn btn-msos" href='https://opensitemobile.github.io/angularjs' title='MobileSiteOS™ AngularJS demo'><i class="fa fa-external-link"></i> <u>MobileSiteOS</u>&nbsp;AngularJS Integration</a></li>
						<li><a class="btn btn-msos" href='https://github.com/OpenSiteMobile/mobilesiteos' title='MobileSiteOS GitHub repository'><i class="fa fa-github"></i> <u>MobileSiteOS</u>&nbsp;on GitHub</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="msos_legend">
			<h2>Site Resources</h2>

			<div class='pgrph'>
				Interested in more details? Follow the "Development" link to get more information about
				the theory behind our software development. The "Design" link leads to reference pages highlighting
				many the best mobile web development technologies and general mobile design resources available
				today.
			</div>

			<div class="row adjust">
				<div class="span4">
					<ul class="features">
						<li><a class="btn btn-msos" href='#/page/pages.devel' title='OpenSiteMobile development'><i class="fa fa-briefcase"></i> <u>OSM</u>&nbsp;Development</a></li>
					</ul>
				</div>
				<div class="span4">
					<ul class="features">
						<li><a class="btn btn-msos" href='#/page/pages.design' title="Mobile design reference resources"><i class="fa fa-globe"></i> Mobile Design</a></li>
					</ul>
				</div>
			</div>
		</div>
    </section>
